@{
    ViewBag.Title = "About Chat2Friend.Com";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<div class="jumbotron">
    <p>
        Teleconferencing of Chatting, is a method of using Technology to bring people and ideas
        “together” despite of the geographical barriers. The technology has been available for years but
        the acceptance it was quit recent. Our project is an example of a chat server. It is made up of 2
        applications, the client application, which runs on the users pc and server application, which runs
        on any pc on the network. To start chatting client should get connected to server where they can
        practice two kings of chatting, public one (message is broadcasted to all connected users) a private
        one (between any 2 users only) and during the last one security measures were taken.
    </p>
</div>